{% extends 'cms_admin/base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
{% include 'cms_admin/header/header.html' %}
<!-- Main Sidebar Container -->
{% include 'cms_admin/sidebar/sidebar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Post List</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <a href="/cms/posts/add/" class="btn btn-sm btn-add float-sm-right mr-5">Add Post
                        <span class=" ml-2"><i class="fas fa-plus"></i></span></a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        {% if messages %}
                        <div class="card-header">
                            {% for message in messages %}
                            <div class="alert cms-{% if message.tags == 'error' %}danger{% else %}success{% endif %}"
                                role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% if object_list.count > 0 %}
                            <table id="example2" class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th># ID</th>
                                        <th>Post Title</th>
                                        <th>Post Category</th>
                                        <th>Created At</th>
                                        <th>Updated At</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ post.title }}</td>
                                        <td>{{ post.category }}</td>
                                        <td>{{ post.created_at| timesince }} ago</td>
                                        <td>{{ post.updated_at | timesince}} ago</td>
                                        <td><a href="/cms/posts/{{ post.id }}/change/" class="text-warning">Edit <span
                                                    class="ml-1"><i class="far fa-edit"></i></span></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'cms_admin/pagination/pagination.html' %}
                            {% else %}
                            <div class="w-75 mx-auto">
                                <div class="alert cms-warning " role="alert">
                                    Currently there are no post found!
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </section>

</div>
<!-- /.content-wrapper -->
{% include 'cms_admin/footer/footer.html' %}

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% endblock content %}