{% extends 'base.html' %}

{% block base_sidebar %}
<div class="">
    <div class="w-100 logo">
        
    </div>

    <div class="w-100 sidebar-menu mt-3">
        <ul>
            <li><a href="#">Page <span class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#">Category <span class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#">Tags <span class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#">Post <span class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#">Settings <span class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="/cms/logout/">Logout</a></li>
        </ul>
    </div>
</div>
{% endblock base_sidebar %}
    