.main-header{
    background: #204060;
}

.main-header h3{
    color: #b3b3b3;
}

.left-sidebar{
    background: #e6e6e6;
    height: 100%;
    width: 100%;
}

.sidebar-menu{
    overflow: hidden;
}

.sidebar-menu ul{
   padding: 0px;
   margin: 0px;
   list-style: none;
}

.sidebar-menu > ul > li{
   padding-top: 7px;
   padding-bottom: 7px;
}

.sidebar-menu > ul > li > a{
   display: block;
   color: #737373;
   font-size: 17px;
   text-decoration: none;
}

.sidebar-menu > ul > li:hover > a{
   color: #999999;
}

.main-panel{
    height: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel-main-box{
    
    height: 100%;
    width: 100%;
}

.dash-box{
    background: #e6e6e6;
}

.user-txt{
    color: #b3b3b3;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.user-txt a{
    color: #ffc;
    text-decoration: none; 
}

.btn-add, .btn-add:hover{
    color: #fff;
    background-color: #204060;
    border-color: #204060;
}

.section-header{
    background: #f2f2f2;
}

input[type='text'], input[type='password']{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.cms-table tr{
    font-size: 14px;
}