
input[type='text'], input[type='password']{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea{
    display: block;
    width: 100%;
    height: auto;
    padding: .365rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-add,.btn-add:hover{
    color: #fff;
    background: #343a40;
    border-color: #343a40;
    box-shadow: none;
}

.img-box {
   border: 1px solid #e6e6e6;
    
}

.inner-img-box{
    /* max-height: 200px;
    min-height: 180px; */
    padding: 20px;
    text-align: center;
    height: 180px;
}

.inner-img-box .media-img{
  display: inline-block;
  vertical-align: middle;
  max-height: 150px;
}
.media-img-text{
  font-size: 12px;
}

.img-detail{
  display: block;
  width: 100%;
  max-width: 400px;
  max-height: 550px;
}

.box:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}

.box img {
  min-width: 100%;
  height: auto;
}

  .box .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #333;
    color: #fff;
  /*   display: flex;
    align-items: center; */
    line-height:100%;
    height:100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ratio4_3:before {
    padding-top: 75%;
  }

  .mo-p0{
      margin: 0px !important;
      padding: 0px !important;
  }

  .social-list-item{
    height: 2rem;
    width: 2rem;
    line-height: calc(2rem - 2px);
    display: block;
    border: 2px solid #adb5bd;
    border-radius: 50%;
  }

  .kaggle{
      border: 2px solid #20BEFF !important;
      color: #20BEFF !important;
  }

  .stackoverflow{
    border: 2px solid #f2720c !important;
    color: #f2720c !important;
  }

  .behance{
    border: 2px solid #800000 !important;
    color: #800000 !important;
  }

  .alert-success{
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
  }

  .nav-treeview > li > a{
    font-size: 14px;
  }
  .nav-treeview > li > a > i{
    font-size: 0.8rem !important;
  }

  .cms-warning{
    background: #ffecb3 !important;
    border-color: #ffecb3 !important;
  }



