{% extends 'cms_admin/base.html' %}

{% block content %}
<!-- Navbar -->
{% include 'cms_admin/header/header.html' %}
<!-- Main Sidebar Container -->
{% include 'cms_admin/sidebar/sidebar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% if c_profile.user_role.role == 1 or c_profile.user_role.role == 2 %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Update Category</h1>
                </div>
                {% if messages %}
                <div class="w-100">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert">    
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div><!-- /.container-fluid -->
    </section>
    {% endif %}

    {% if c_profile.user_role.role == 1 or c_profile.user_role.role == 2 %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header cms-background">
                            <h3 class="card-title">Category Form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="{% url 'category_update' category.id %}" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Category Name</label>
                                </div>
                                <div class="form-group">
                                    {{ form.name }}
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-sm cms-btn-submit"><span><i
                                    class="far fa-edit"></i></span> Update</button>
                                    {% if c_profile.user_role.role == 1 %}
                                <a href="{% url 'category_delete' category.id %}" class="btn btn-sm btn-danger objDelete"><span class="ml-1"><i class="far fa-trash-alt"></i></span> Delete</a>
                                {% endif %}
                                <a href="{% url 'category' %}" class="btn btn-sm cms-btn-back"><span
                                    class="mr-1"><i class="fas fa-angle-left"></i></span> Back</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    {% endif %}

        <!-- Modal -->
        {% if c_profile.user_role.role == 1 %}
  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <p>Are you sure, want to delete this category?</p>
            <a class="btn btn-sm btn-danger cateDelete" href=""><span class="ml-1"><i class="far fa-trash-alt"></i></span> Delete</a>
            <button class="btn btn-sm cms-btn-back" data-dismiss="modal"><span
            class="mr-1"><i class="fas fa-angle-left"></i></span> Back</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

</div>
<!-- /.content-wrapper -->
{% include 'cms_admin/footer/footer.html' %}

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% endblock content %}