{% extends 'cms_admin/base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
{% include 'cms_admin/header/header.html' %}
<!-- Main Sidebar Container -->
{% include 'cms_admin/sidebar/sidebar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% if c_profile.user_role.role <= 3 or request.user.is_superuser%}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Users List</h1>
                </div><!-- /.col -->
                {% if c_profile.user_role.role == 1 %}
                <div class="col-sm-6">
                    <a href="#" class="btn btn-sm btn-add float-sm-right mr-5" data-toggle="modal"
                        data-target="#exampleModalLong">Add User
                        <span class=" ml-2"><i class="fas fa-plus"></i></span></a>
                </div>
                {% endif %}
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Modal -->
    {% if c_profile.user_role.role == 1 %}
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'user_add' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email <span class="text-danger">*</span></label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username <span
                                                class="text-danger">*</span></label>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password <span
                                                class="text-danger">*</span></label>
                                        {{ form.password }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm cms-btn-submit"><span><i
                                        class="far fa-edit"></i></span> Submit</button>
                            <a href="#" class="btn btn-sm cms-btn-back" data-dismiss="modal"><span class="mr-1"><i
                                        class="fas fa-angle-left"></i></span> Back</a>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
            </div>
        </div>
    </div>
    {% endif %}

    <!-- / Modal -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        {% if messages %}
                        <div class="card-header">
                            {% for message in messages %}
                            <div class="alert cms-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% else %}success{% endif %}"
                                role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% if object_list.count > 0 %}
                            <table id="example2" class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th># ID</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Superuser</th>
                                        <th>Last Login</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ u.username }} </td>
                                        <td>{{ u.email }}</td>
                                        <td>{{ u.is_superuser }}</td>
                                        <td>{{ u.last_login | timesince }}</td>
                                        <td>
                                            <a href="{% url 'profile' u.id %}" class="edit-text">
                                                {% if c_profile.user_role.role <= 2 %}
                                                Edit <span class="ml-1"><i class="far fa-edit"></i></span>
                                                {% else %}
                                                View <span class="ml-1"><i class="far fa-eye"></i></span>
                                                {% endif %}
                                            </a>
                                            {% if c_profile.user_role.role == 1 %}
                                            <span class="ml-1 mr-1">|</span>
                                            <a href="{% url 'user_delete' u.id %}" class="text-danger objDelete">Delete
                                                <span><i class="far fa-trash-alt"></i></span></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'cms_admin/pagination/pagination.html' %}
                            {% else %}
                            <div class="w-75 mx-auto">
                                <div class="alert alert-warning " role="alert">
                                    Currently there are no user found!
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </section>
    {% if c_profile.user_role.role == 1 %}
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure, want to delete this user?</p>
                    <a class="btn btn-sm btn-danger cateDelete" href=""><span class="ml-1"><i
                                class="far fa-trash-alt"></i></span> Delete</a>
                    <button class="btn btn-sm cms-btn-back" data-dismiss="modal"><span class="mr-1"><i
                                class="fas fa-angle-left"></i></span> Back</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% else %}

    <div class="w-75 mx-auto" style="overflow: hidden">
        <div class="alert cms-warning mt-5" role="alert">
            <p class="text-center mo-p0">Sorry! You have no permission for this page content.</p>
        </div>
    </div>

    {% endif %}

</div>
<!-- /.content-wrapper -->
{% include 'cms_admin/footer/footer.html' %}

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% endblock content %}