<div class="col-md-2 col-lg-1 col-xl-1 left-sidebar position-fixed">

    <div class="">
        <div class="w-100 logo">

        </div>

        <div class="w-100 sidebar-menu">
            <ul>
                <li><a href="/cms/admin/"><span class="mr-2"><i class="fas fa-home"></i></span> Dashboard</a></li>
                <li><a href="#"><span class="mr-2"><i class="far fa-sticky-note"></i></span> Page </a></li>
                <li><a href="/cms/category/"><span class="mr-2"><i class="fas fa-th"></i></span> Category </a></li>
                <li><a href="/cms/tags/"><span class="mr-2"><i class="fas fa-tags"></i></span> Tags </a></li>
                <li><a href="#"><span class="mr-2"><i class="far fa-list-alt"></i></span> Post </a></li>
                <li><a href="#"><span class="mr-2"><i class="far fa-images"></i></span> Media </a></li>
                <li><a href="/cms/profile/"><span class="mr-2"><i class="far fa-user"></i></span> Profile </a></li>
                <li><a href="#"><span class="mr-2"><i class="fas fa-cogs"></i></span> Settings </a></li>
                <!-- <li><a href="/cms/logout/"><span class="mr-2"><i class="fas fa-sign-out-alt"></i></span> Logout</a></li>  -->
            </ul>
        </div>
    </div>

</div>