<div class="">
    <div class="w-100 logo">

    </div>

    <div class="w-100 sidebar-menu mt-3">
        <ul>
            <li><a href="/cms/admin/"><span class="mr-2"><i class="fas fa-home"></i></span> Dashboard</a></li>
            <li><a href="#"><span class="mr-2"><i class="far fa-sticky-note"></i></span> Page <span
                        class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="/cms/category/"><span class="mr-2"><i class="fas fa-th"></i></span> Category <span
                        class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#"><span class="mr-2"><i class="fas fa-tags"></i></span> Tags <span class="float-right"><i
                            class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#"><span class="mr-2"><i class="far fa-list-alt"></i></span> Post <span class="float-right"><i
                            class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#"><span class="mr-2"><i class="far fa-images"></i></span> Media <span class="float-right"><i
                            class="fas fa-angle-right"></i></span></a></li>
            <li><a href="/cms/profile/"><span class="mr-2"><i class="far fa-user"></i></span> Profile <span
                        class="float-right"><i class="fas fa-angle-right"></i></span></a></li>
            <li><a href="#"><span class="mr-2"><i class="fas fa-cogs"></i></span> Settings <span class="float-right"><i
                            class="fas fa-angle-right"></i></span></a></li>
            <!-- <li><a href="/cms/logout/"><span class="mr-2"><i class="fas fa-sign-out-alt"></i></span> Logout</a></li>  -->
        </ul>
    </div>
</div>