{% extends 'cms_admin/base.html' %}

{% block content %}


{% block header %}
    {% include 'cms_admin/header.html' %}
{% endblock header %}


<div class="main-box w-100">
 <div class="w-100 h-100">
     <div class="w-100 h-100">
         <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-md-2 col-lg-2 col-xl-2 left-sidebar pb-3 position-fixed">
                    
                    {% block base_sidebar %}
                        {% include 'cms_admin/base_sidebar.html' %}
                    {% endblock base_sidebar %}
                        
                </div>
                <div class="col-md-10 col-lg-10 col-xl-10 offset-2 main-panel">
                    <div class="panel-main-box h-100">
                        <div class="w-100 section-header pt-2 pb-2">
                            <h4>Dashboard</h4>
                        </div>
        
                        <div class="w-100">
                            <div class="mt-5" style="width: 85%; margin:auto;">
                                <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class=" dash-box p-3">
                                                    <h4 class="text-center">Total Post: 29</h4>
                                                    <h5 class="text-center"><a href="#">See Post List</a></h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class=" dash-box p-3">
                                                    <h4 class="text-center">Total Category: 29</h4>
                                                    <h5 class="text-center"><a href="#">See Post List</a></h5>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-xl-4">
                                                <div class=" dash-box p-3">
                                                    <h4 class="text-center">Monthly View: 1229</h4>
                                                    <h5 class="text-center"><a href="#">See Post List</a></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
             
         </div>
     </div>
 </div>
</div>

{% endblock content %} 
    