{% extends 'cms_admin/base.html' %}

{% block content %}
<!-- Navbar -->
{% include 'cms_admin/header/header.html' %}
<!-- Main Sidebar Container -->
{% include 'cms_admin/sidebar/sidebar.html' %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Site Information</h1>
                </div>
                {% if object_list.count == 0 %}
                <div class="col-sm-6">
                    <a href="#" class="btn btn-sm cms-btn-submit float-sm-right mr-5" data-toggle="modal"
                        data-target="#addModal">Add Site
                        <span class=" ml-2"><i class="fas fa-plus"></i></span></a>
                </div>
                {% endif %}

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Site</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'site' %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Site Name</label>
                            </div>
                            <div class="form-group">
                                {{ form.site_name }}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-secondary"><span><i
                                        class="far fa-edit"></i></span> Submit</button>
                            <a href="#" class="btn btn-sm btn-warning" data-dismiss="modal"><span class="mr-1"><i
                                        class="fas fa-angle-left"></i></span> Back</a>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        {% if messages %}
                        <div class="card-header">
                            {% for message in messages %}
                            <div class="alert cms-{% if message.tags == 'error' %}danger{% elif message.tags == 'warning' %}warning{% else %}success{% endif %}"
                                role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- /.card-header -->
                        <div class="card-body">
                            {% if object_list.count > 0 %}
                            <table id="example2" class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr>
                                        <th># ID</th>
                                        <th>site Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for site in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ site.site_name }}</td>
                                        <td><a href="{% url 'site_update' site.id %}" class="edit-text">Edit <span
                                                    class="ml-1"><i class="far fa-edit"></i></span></a> <span> | </span>
                                            <a href="{% url 'site_delete' site.id %}"
                                                class="text-danger objDelete">Delete
                                                <span class="ml-1"><i class="far fa-trash-alt"></i></span></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'cms_admin/pagination/pagination.html' %}
                            {% else %}
                            <div class="w-75 mx-auto">
                                <div class="alert cms-warning " role="alert">
                                    Currently there are no site information found!
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->


                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Deleting Site information may harm your cms system. You will lose all site information as well as
                        menu information form APi.</p>
                    <p class="text-danger">Want to delete site information?</p>
                    <a class="btn btn-sm btn-danger cateDelete" href=""><span class="ml-1"><i
                                class="far fa-trash-alt"></i></span>
                        Delete</a>
                    <button class="btn btn-sm cms-btn-back" data-dismiss="modal"><span class="mr-1"><i
                                class="fas fa-angle-left"></i></span> Back</button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.content-wrapper -->
{% include 'cms_admin/footer/footer.html' %}

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
{% endblock content %}