{% extends 'cms_admin/base.html' %}

{% block content %}


{% block header %}
{% include 'cms_admin/header.html' %}
{% endblock header %}


<div class="main-box w-100">
    <div class="w-100 h-100">
        <div class="w-100 h-100">
            <div class="container-fluid h-100">
                <div class="row h-100">
                    <div class="col-md-2 col-lg-2 col-xl-2 left-sidebar pb-3 position-fixed">

                        {% block base_sidebar %}
                        {% include 'cms_admin/base_sidebar.html' %}
                        {% endblock base_sidebar %}

                    </div>
                    <div class="col-md-10 col-lg-10 col-xl-10 offset-2 main-panel">
                        <div class="panel-main-box h-100">
                            <div class="w-100 section-header pt-2 pb-2">
                                <h5 class="ml-5">Tag Add</h5>
                            </div>

                            <div class="w-100">

                                <div class="w-100 p-3">
                                    {% if form_error %}
                                    <div class="alert alert-danger w-50" role="alert">
                                        {{ form_error }}
                                    </div>
                                    {% endif %}
                                    <form action="/cms/tags/add/" class="w-25" method="post">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="{{ form.tag.id_for_label }}">Tag</label>
                                            {{ form.tag }}
                                        </div>

                                        <div class="form-group">
                                            <!-- <input type="button" class="btn btn-info btn-sm" value="Add Category"> -->
                                            <button class="btn btn-info btn-sm">Add Tag</button>

                                            <a href="/cms/tags/" class="btn btn-primary btn-sm">Back</a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}