{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">BlogCMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="/cms/admin/" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Category
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/cms/categories/" class="nav-link">
                <i class="fas fa-stream nav-icon"></i>
                <p>All Category List</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tags"></i>
            <p>
              Tag
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/cms/tags/" class="nav-link">
                <i class="fas fa-stream nav-icon"></i>
                <p>All Tag List</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book-reader"></i>
            <p>
              Post
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/cms/posts/" class="nav-link">
                <i class="fas fa-stream nav-icon"></i>
                <p>All Post List</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cms/posts/add/" class="nav-link">
                <i class="fas fa-edit nav-icon"></i>
                <p>Add New Post</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="/cms/medias/" class="nav-link">
            <i class="nav-icon far fa-images"></i>
            <p>
              Media
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="/cms/contacts/" class="nav-link">
            <i class="far fa-address-book nav-icon"></i>
            <p>
              Contact
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/cms/users/" class="nav-link">
                <i class="far fa-user nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cms/site/" class="nav-link">
                <i class="fas fa-globe-asia nav-icon"></i>
                <p>Site</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cms/menus/" class="nav-link">
                <i class="fas fa-list nav-icon"></i>
                <p>Main Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cms/apis/" class="nav-link">
                <i class="fas fa-link nav-icon"></i>
                <p>APIs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/cms/permissions/" class="nav-link">
                <i class="fas fa-unlock-alt nav-icon"></i>
                <p>Permissions</p>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>